<div *ngIf="loading$ | async; else content" class="loader-container">
    <p-progressSpinner></p-progressSpinner>
</div>

<ng-template #content>
    <div *ngIf="(movies$ | async) as movies" [style]="{width: '80%', margin: '0 auto'}">

        <div class="watchlist-summary">
            <h2>Your Watchlist</h2>
            <p>Total Movies: {{ movies.length }}</p>
        </div>

        <p-table [value]="movies" [paginator]="true" [rows]="8">
            <ng-template pTemplate="header">
                <tr>
                    <th scope="col">Poster</th>
                    <th scope="col">Title</th>
                    <th scope="col">Year</th>
                    <th scope="col">Overview</th>
                    <th scope="col">Rating</th>
                    <th scope="col">Actions</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-movie>
                <tr>
                    <td>
                        <img src="https://image.tmdb.org/t/p/w200/{{ movie.poster_path }}" alt="{{ movie.title }}"
                            width="50">
                    </td>
                    <td>{{ movie.title }}</td>
                    <td>{{ movie.release_date.slice(0,4) }}</td>
                    <td>{{ movie.overview }}</td>
                    <td>
                        <div class="flex align-items-center justify-content-center gap-2">
                            <i class="pi pi-star-fill icon"></i>
                            <h4>{{ movie.vote_average?.toFixed(1)}}</h4>
                        </div>
                    </td>
                    <td>
                        <button pButton type="button" icon="pi pi-trash" (click)="removeFromWatchlist(movie.id)"
                            class="p-button-danger"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>

    </div>

</ng-template>