.description {
    display: block;
}

.rating-title {
    font-size: 1em;
}

.rating-desc {
    font-size: 1.7em;
    font-weight: bold;
}

.icon-star {
    font-size: 1.5em;
    color: gold;
}

.rating-desc-solid {
    font-weight: normal;
}

.provider-logo {
    width: 24px;
    height: 24px;
}

.ratings {
    display: flex;
}

.overview {
    line-height: 1.5;
    text-align: justify;
}

::ng-deep legend {
    background: none;
    border:none;
    padding: 0;
}

.card {
    width: 80%;
    margin: 0 auto;
}

::ng-deep .p-rating .p-rating-icon{
    width: 2rem;
    height: 2rem;
    color: lightgray;
}

::ng-deep .p-rating-icon-active {
    width: 2rem;
    height: 2rem;
    color: gold !important;
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}