.description {
    display: block;
}

.rating-title {
    font-size: 1em;
}

.rating-desc {
    font-size: 2em;
    font-weight: bold;
}

.icon-star {
    font-size: 1.7em;
}

.rating-desc-solid {
    font-weight: normal;
}

.ratings {
    display: flex;
}